@media(prefers-color-scheme: dark){
    html,body,.card,input{
        color:white;
    }
    body{
        background-color: #010101;
    }
    .card{
        background-color: #141414;
    }
    tr {
        border-bottom: 1px solid rgb(255 255 255 / 12%);
    }
    .collection .collection-item{
        background-color: #222;
    }
}

